html, body {
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  
  text-align: center;
}
/*  td:hover, th:hover, tr:hover, table:hover, thead:hover{
  color: rgba(78, 178, 240, 1.7);
  cursor: pointer;
  color-adjust: yellow;
  
} */
 th{
  color: white;
}
img{
  border: 3px solid gold;
  border-radius: 50%;
/*   margin-left: 540px; */
  height: 100%;
  width: 67%;
}
iframe{
  margin-bottom: 120px;
  height: 25%;
  width: 15vw;
}
 p{
  text-align: center;
} 
th{
  color: black;
}
#img, iframe{
  align-content: center;
  margin-left: 60px;
}
.announce{
  margin-left: 45px;
  top: -45%;
  bottom: -55%;
}
.uk-grid-width-small-5{
  width: 25%;
  height: 45%;
}
/* .uk-card-default{
  width: 19%;
  height: 19%;
  margin-left: -32px;
  margin-right: -32px;
} */
.canvas{
  width: clamp(115px, -48.4vw, -182.5px);
/*   height: clamp(116px, 49vh, 200px); */
  height: -155%;
  border: -3px solid gold;
}
.canvas-1{
  width: clamp(112px, -40vw, -182.2px);
/*   height: clamp(120px, 55vh, 201px); */
  height: -150%;
  border: -1px solid gold;
}
#items , fieldset{
  margin-left: 50px;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-block-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  display: inline-block;
  position: sticky;
  border: none;
  text-decoration: none;
  height: 66%;
  width: 45%;
}
 .footer, .bottom-footer{
  text-align: center;
  border: 21px;
  background-color: black;
  color: white;
  width: 130px;
   
}
